.body_p_1 {
  font-family: var(--font-source-sans-pro);
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.75rem;
  letter-spacing: normal;
  color: var(--color-text);
}
.body_article_1 {
  font-family: var(--font-source-sans-pro);
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.75rem;
  letter-spacing: normal;
  color: var(--basic-primary);
}
.body_span_1 {
  font-family: var(--font-source-sans-pro);
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.75rem;
  letter-spacing: normal;
  color: var(--danger-500);
}
